/* @font-face {
  font-family: 'Valkyrie';
  font-weight: bold;
  font-stretch: expanded;
  src: '../assets/valkyrie/Valkyrie-BoldExtended.ttf';
}

@font-face {
  font-family: 'Valkyrie';
  font-style: normal;
  src: '../assets/valkyrie/Valkyrie-Regular.ttf';
}

@font-face {
  font-family: 'Valkyrie';
  font-weight: bold;
  src: '../assets/valkyrie/Valkyrie-Bold.tttf';
} */