$black-color: #212326;
$primary: #F26241;
$primary-dark-1: #A64732;
$primary-dark-2: #733729;
$white: #F2F2F2;

.sub-container {
    min-height: 100vh;
    margin-top: 0;
    // margin-bottom: 0;
    // padding-top: 0;
    // margin-right: 0;
    // margin-left: 75px;
    padding-bottom: 0;
}

.primary-color {
    color: $primary;
}

.hook {
    margin-left: 7px;
    border-radius: 50%;
    border-color: white;
    border: solid;
    border-width: 1px;
    width: 79px;
    height: 79px;
    text-align: center;
    padding-top: 1%;
    font-size: 2Rem;
}

.text {
    // font-style: 65 medium;
    line-height: 5Rem;
    font-size: 2.2Rem;
    font-weight: 500;
    text-shadow: none;
}

.main-text {
    font-style: 65 medium;
    font-size: 3.5Rem;
    font-weight: 500;
}

.hover {
    cursor: pointer;
}

:root {
    font-size: 5px;
}


@media screen and (min-width:600px) {
    :root {
        font-size: 8px;
    }
}

@media screen and (min-width:960px) {
    :root {
        font-size: 10px;
    }
}


a {
    text-decoration: none;
    color: white;
}

.large-title {
    font-size: 12.5Rem;
    line-height: 11.5Rem;
    font-family: 'Valkyrie';
    font-weight: bold;
    font-stretch: expanded;
    color: $white;
    text-shadow: $primary 5px 3px 0;
}

.marge {
    margin-top: 161px !important;
}

.avatar {
    margin-top: -3Rem;
}

.main {
    background-color: $black-color;
    color: $white;
    // padding-left: 75px;
    background-image: url('/background.svg');
    height: 100%;

}