@font-face {
  font-family: 'Valkyrie';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  font-stretch: normal;
  src: url('/Valkyrie/Valkyrie-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Valkyrie';
  font-style: bold;
  font-weight: bold;
  font-display: swap;
  font-stretch: normal;
  src: url('/Valkyrie/Valkyrie-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Valkyrie';
  font-style: bold;
  font-weight: bold;
  font-display: swap;
  font-stretch: expanded;
  src: url('/Valkyrie/Valkyrie-BoldExtended.ttf') format('truetype');
}